extends layout

block content
  h1= title
  p Bienvenido .a #{title}




<center><a href="http://www.cerotec.net/estadisticas-70935/noclick.herokuapp.com" title="ver mi contador de visitas gratis"><img src="http://www.cerotec.net/contador.php?t=5&s=2&i=70935" alt="Contador de visitas y estadísticas"></a> <br><a href='http://www.cerotec.net/contadores/'>contador de visitas</a></center>


<!--- inicio codigo www.gratisparaweb.com ---><div align="center"><a href="http://contadores.gratisparaweb.com" target="_blank"><img src="http://contadores.gratisparaweb.com/imagen.php?contador=1&id2=508923" alt="Contadores" border="0"></a><br><br><img src="http://www.gratisparaweb.com/imgs/barra-contadores.gif" alt="Contadores de visitas gratis para web" width="80" height="15" border="0" usemap="#Map" /><map name="Map"><area shape="rect" coords="48,1,90,22" href="http://www.cursosparati.com" target="_blank" alt="Cursos"><area shape="rect" coords="0,0,47,15" href="http://contadores.gratisparaweb.com" target="_blank" alt="Contadores de visitas gratis para web"></map></a></div><!--- fin codigo www.gratisparaweb.com --->